on:
  issues:
    types: [opened]
  pull_request_target:
    types: [opened]
  pull_request:
    types: [opened]

jobs:
  welcome:
    runs-on: ubuntu-latest
    steps:
      - uses: EddieHubCommunity/gh-action-community/src/welcome@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: "Hey! Thanks for creating this issue. Please wait while the people of IvLabs review your issue. Incase there is no response for one week then please add a comment in the same issue."
          pr-message: "Hey! Thanks for your contribution. Please wait while the people of IvLabs review your PR. Incase there is no response for one week then please add a comment in the same PR."
          footer: "Keep Learning! :hatching_chick:"
